body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e8da; /* Светло-коричневый фон */
    color: #543d28; /* Темно-коричневый текст */
}

header {
    background-color: #a07659; /* Коричневый заголовок */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #77543b; /* Более темный коричневый при наведении */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #815d42; /* Коричневый заголовок секции */
    border-bottom: 2px solid #815d42;
    padding-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #a07659;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для формы обратной связи */
#contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#contact-form label {
    margin-bottom: 5px;
    color: #543d28;
}

#contact-form input,
#contact-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#contact-form button {
    padding: 10px 15px;
    background-color: #815d42;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#contact-form button:hover {
    background-color: #77543b;
}
